@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@mixin shadow{
    box-shadow: 3px 5px 0px black;
}
@mixin flex-column{
     display: flex;
    flex-direction: column;
}
@mixin hover{
    transform: translateX(3px);
}
@font-face {
    font-family: head;
    src: url(./NeueMachina-Regular.otf);
}
@font-face {
    font-family: pixel;
    src: url(./MatrixtypeDisplayBold-6R4e6.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        font-family: head;
}
html,body{
    width: 100%;
    height: 100%;
}html{
    scroll-behavior: smooth;
}
body{
    background-color: beige;
}
main{
    height: 100%;
    width: 100%;
    

    .head{
    font-family: head;
    @include flex-row;
    padding: 1rem;
    align-items: center;
    width: 100%;
    gap: 0.3rem;

        .navbar{
            border: 2px solid black;
        @include flex-row;
        gap: 1rem;
        font-size: 0.8rem;
        align-items: center;
        
            a{
            text-decoration: none;
            color: black;
            margin: 0.3rem 2rem;
            font-weight: 600;
            transition: all 0.2s ease-in;
            }

            a:hover{
                background-color: black;
                color: white;
                padding: 0.2rem;
                border-radius: 10px;

            }
        }
        .btn{
            @include shadow;
           padding: 0.6rem 1.7rem;
           font-weight: 800;
           font-family: pixel;
           background-color: rgb(255, 237, 75);
           border: 2px solid black;
           transition: all 0.3s ease-in-out;
        }
        .btn:hover{
            transform: translateX(4px);
            box-shadow: none;
        }
        

    }
      section.hero{
        height: 90vh; 
        color: rgb(2, 2, 2);
        @include flex-column;
        text-align: center;
       justify-content: center;
        font-size: 2rem;
        gap: 1rem;
        .top{
            width: 100%;
            line-height: 1.5;
            letter-spacing: 1.6px;
            h5{
                color: rgb(155, 110, 44);
            }
            h2{

                span{
                    background-color: rgba(109, 109, 109, 0.547);
                    padding: 0.5rem 1rem;
                }
            }
        }
        .bottom{
            font-size: 0.7rem;
            opacity: 0.6;
        
     }
}
 section.intro{
        width: 100%;
        height: 70vh;
        padding: 1rem;
       animation-name: appear;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
    
    img{
        width: 50%;
    }


    }
      @keyframes appear{
        from{
        transform: translateX(-100%) translateY(0) rotate(0deg) scale(0);
        }
        to{
           transform: translateX(10%) translateY(-10%) rotate(95deg) scale(0.7);
     }
    }
}
     section.courses{
        width: 100%;
        background-color: blanchedalmond;
        @include flex-column;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
        .top{
            
            .crs{
                background-color: #FF6B6B;
                border: 1.5px solid black;
                border-radius: 5%;
                padding: 0.5rem 1rem;
                font-weight: 500;
                font-family: pixel;

        }
    }
    .bottom{
        width: 100%;
        padding: 1rem;
        @include flex-row;
        background-color: black;
        .card{
          @include flex-row();
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 2rem;
        background: #FF6B6B;
        color: white;
           .text{
               flex: 1;
               text-align: left;
            img{
            width: 40%;
            border-radius: 10%;
            object-fit: cover;
           }
           h3{
            span{
                color: rgb(255, 221, 0);
                font-size: 3rem;
            }
           }
              p{
                font-size: 0.5rem;
                opacity: 0.5;
            }
           }
          
        }
    }
}
      